<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="hibernate.connection.url">jdbc:mysql://us-cdbr-east-02.cleardb.com/heroku_eb8e96d4adc735b?reconnect=true</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.username">bbc9f7b3ba92b1</property>
        <property name="hibernate.connection.password">773ee41d</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>

        <mapping class="com.vz89.hometask.model.Skill"/>
        <mapping class="com.vz89.hometask.model.Account"/>
        <mapping class="com.vz89.hometask.model.Developer"/>

    </session-factory>
</hibernate-configuration>